<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RESULT</title>
<style>
pre{
color:white;font-style:serif;margin-left:20%;font-size:25px
}
button{
font-size
    }
</style>
<h1 style="font-family:serif; font-size:75px;text-align:center;margin-top:-10px;margin-left:60px ">Q U I Z-iz<h1>

</head>
<body style="background-image:url(/static/ques.jpg);background-size: 1580px 720px;background-repeat:no-repeat;">
<div>
  <h2 style="color:white;margin-left:40%;font-style:serif">Certification </h2>
  <pre>
   This is to certify that the {{ user }} has successfully passed

   the <span style="text-decoration:italic">Quiz-iz Test</span> scored {{ total }} marks by demonstrating strong

   knowledge and problem-solving skills. His efforts, dedication,

   and performance in completing the quiz are truly appreciated.  </pre><br><br>

</div>
<a href="/download">
<button style="font-size:20px;padding:10px;margin-left:85%;margin-top:120px;font-weight:Bold">
Download Certificate
</button>
</a>
</body>
</html>